h1, h2, h3 { color: navy; font-weight:normal; }
h1 { margin-bottom: .47em }
h2 { margin-bottom: .3em }
h3 { margin-bottom: .4em }
ul { margin-top: .5em }
ul li {margin: .25em}
body { font:10pt Tahoma }
pre  { border:solid 1px gray; background-color:#eee; padding:1em }
a:link { text-decoration: none; }
a:hover { text-decoration: underline; }
.gray { color:gray; }
.example { background-color:#efefef; corner-radius:5px; padding:0.5em; }
.whitehole { background-color:white; corner-radius:10px; padding:15px; }
.caption { font-size: 1.1em }
.comment { color: green; margin-bottom: 5px; margin-left: 3px; }
.comment2 { color: green; }